{% extends "layout.njk" %}

{% block head %}
   <title>About - Henrique Detoni</title>
  
  {% endblock %}

{% block content %}


<div id="wrapper">
  <img src="https://avatars1.githubusercontent.com/u/54778020?s=460&v=4" alt="Henrique Detoni">
  <h1>Henrique Detoni</h1>
  <h2>Web Developer to-be</h2>
  <p>My goal is learn JavaScript hard to become a Web Developer in a short time.</p>
</div>

<div id="social" class="link">
  <a href="https://github.com/detonih" target="_blank">Follow me at GitHub</a> <br>
  <a href="https://www.linkedin.com/in/henrique-detoni-b858604b/" target="_blank">Connect with me at Linkedin</a>
</div>

{% endblock %}