{% extends "layout.njk" %}

{% block content %}

<div>
<h1>NODE.JS</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at massa vel nibh maximus pharetra. Sed velit diam, pharetra nec nisi maximus, laoreet aliquet felis. Integer sit amet augue nisi. Proin consequat elit ut risus congue varius. Vestibulum dignissim metus luctus, consequat mi sed, tristique libero. Etiam pellentesque et metus id mollis. In aliquam accumsan elit placerat imperdiet. Aliquam sodales lacus libero, a dapibus leo ullamcorper ut. Sed commodo euismod elit ut rhoncus.</p>
</div>

{% endblock %}